@using ERP_EvaluationManagement.DTOs.Responses
@using System.Net.Http.Json

<h1 class="result-header pb-3" style="color:black; text-align:center">Evaluation Information</h1>
<h3 class="result-header pb-3" style="color:blue">Module</h3>
<MudListItem Icon="@Icons.Material.Outlined.List" IconColor="@Color.Primary" Style="font-size:22px;">@module.ModuleName</MudListItem>
<h3 class="result-header pb-3" style="color:blue">Module Code</h3>
<MudListItem Icon="@Icons.Material.Outlined.List" IconColor="@Color.Primary" Style="font-size:22px;">@module.ModuleCode</MudListItem>
<h3 class="result-header pb-3" style="color:blue">Evaluation Name</h3>
<MudListItem Icon="@Icons.Material.Outlined.List" IconColor="@Color.Primary" Style="font-size:22px;">@evaluation.EvaluationName</MudListItem>
<h3 class="result-header pb-3" style="color:blue">Evaluation Type</h3>
<MudListItem Icon="@Icons.Material.Outlined.List" IconColor="@Color.Primary" Style="font-size:22px;">@evaluationType</MudListItem>
<h3 class="result-header pb-3" style="color:blue">Marks</h3>
<MudListItem Icon="@Icons.Material.Outlined.List" IconColor="@Color.Primary" Style="font-size:22px;">@evaluation.EvaluationMarks</MudListItem>
<h3 class="result-header pb-3" style="color:blue">Final Marks</h3>
<MudListItem Icon="@Icons.Material.Outlined.List" IconColor="@Color.Primary" Style="font-size:22px;">@evaluation.EvaluationFinalMarks</MudListItem>

@code {
    [Parameter]
    public Guid ModuleOfferingId { get; set; }
    [Parameter]
    public Guid EvaluationId { get; set; }

    private HttpClient Http = new HttpClient();

    private GetEvaluationDetailsResponse evaluation = new();
    private GetModuleOfferingDetailsResponse module = new();
    private string evaluationType;

    protected override async Task OnInitializedAsync()
    {
        evaluation = await Http.GetFromJsonAsync<GetEvaluationDetailsResponse>($"https://localhost:7007/api/Evaluation/{EvaluationId}/evaluation");
        module = await Http.GetFromJsonAsync<GetModuleOfferingDetailsResponse>($"https://localhost:7007/api/ModuleOffering/{ModuleOfferingId}");
        evaluationType = GetEvaluationType(evaluation.EvaluationType);
    }

    public string GetEvaluationType(int type)
    {
        switch (type)
        {
            case 1:
                return "Inclass";
            case 2:
                return "Quiz";
            case 3:
                return "Assignment";
            case 4:
                return "TakeHome";
            case 5:
                return "Other";
            default:
                return "Unknown";
        }
    }
}

